<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Sayfa Bulunamadı | Kukumav.Net</title>
    <meta name="robots" content="noindex, nofollow" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body class="hata-bolumu">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-6 col-6 text-center">
                    <div class="hata-alani">
                        <div class="hata-gorseli"><img src="{{ url_for('static', filename='img/hata.png') }}" alt="404 logo" class="img-fluid"></div>
                        <h2 class="hata-baslik">Ooooopppppssssssss!!! <br> Yanlış Veri Girdiniz!</h2>
                        <p class="lead d-none d-xl-block d-lg-block">
                            Veri Setinizi Yeniden Düzenleyerek Giriş Yapınız </p>
                        <a href="./" class="btn btn-default">Anasayfaya Git</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="kaynak/bootstrap.min.js"></script>
</body>

</html>